<section
  id="about"
  class="bg-[url(/img/about.jpg)] flex items-center justify-center py-12 bg-fixed"
>
  <div class="content">
    <div
      class="flex flex-col max-w-lg bg-lighter p-6 lg:p-12 text-center items-center lg:items-start lg:text-left rounded-2xl gap-4"
      data-reveal-stagger
      data-stagger="200"
    >
      <div
        class="flex gap-1 items-center justify-center reveal"
        data-reveal-item
      >
        <div class="w-24 h-px bg-darker"></div>
        <span class="font-serif text-sm uppercase">O nás</span>
        <div class="w-24 h-px bg-darker"></div>
      </div>
      <h2 class="text-2xl lg:text-3xl uppercase reveal" data-reveal-item>
        Naša história
      </h2>
      <p class="reveal" data-reveal-item>
        Naša keramická dielňa vznikla z vášne k tvorbe a túžby priniesť do sveta
        niečo jedinečné. Sme skupina nadšených umelcov, ktorí veria, že keramika
        je viac než len remeslo – je to spôsob vyjadrenia našej kreativity a
        spojenia s prírodou.
      </p>
      <button class="btn btn-primary w-fit uppercase">Zisti viac</button>
    </div>
  </div>
</section>
