---
import { Icon } from "astro-icon/components";
import { navlinks } from "../constants";
import LogoLong from "../assets/Logo-long.svg";
---

<footer
  id="contact"
  class="footer sm:footer-left sm:footer-horizontal bg-white text-base-content p-10"
>
  <aside class="flex flex-col text-left items-start">
    <a class="btn btn-ghost text-xl"
      ><LogoLong width={128} height={64} fill="currentColor" /></a
    >
    <div class="flex flex-col">
      <p>
        Adresa: <a href="#" class="link link-hover">Hlavná 123, 040 01 Košice</a
        >
      </p>
      <p>
        Telefón: <a href="tel:+421123456789" class="link link-hover"
          >+421 123 456 789</a
        >
      </p>
      <p>
        Email: <a href="mailto:info@pottery.sk" class="link link-hover"
          >info@pottery.sk</a
        >
      </p>
    </div>
    <div class="flex flex-col">
      <p>Pondelok - Piatok • 10:00 - 18:00</p>
      <p>Nedela • zavreté</p>
    </div>

    <div
      class="flex flex-col lg:flex-row justify-center items-center gap-4 lg:gap-12"
    >
      <nav class="w-full">
        <div class="w-full grid grid-flow-col gap-4 items-center">
          <a
            href="https://www.youtube.com"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:opacity-60 transition-opacity duration-300 ease-in-out"
          >
            <Icon name="entypo-social:youtube" class="text-2xl" />
          </a>
          <a
            href="https://www.facebook.com"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:opacity-60 transition-opacity duration-300 ease-in-out"
          >
            <Icon name="entypo-social:facebook" class="text-2xl" />
          </a>
          <a
            href="https://www.instagram.com"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:opacity-60 transition-opacity duration-300 ease-in-out"
          >
            <Icon name="entypo-social:instagram" class="text-2xl" />
          </a>
        </div>
      </nav>
    </div>
  </aside>
  <nav>
    <h6 class="footer-title">O nás</h6>
    {
      navlinks.map((link) => (
        <a href={link.path} class="link link-hover">
          {link.name}
        </a>
      ))
    }
  </nav>
  <nav>
    <h6 class="footer-title">Právne informácie</h6>
    <a class="link link-hover">Podmienky používania</a>
    <a class="link link-hover">GDPR</a>
  </nav>
  <form
    action=""
    class="flex grow flex-col gap-2 lg:gap-4 w-full items-center sm:p-4"
  >
    <div class="flex flex-row gap-2 w-full">
      <input
        type="text"
        name="name"
        placeholder="Vaše meno"
        class="input input-sm bg-white"
      />

      <input
        type="email"
        name="email"
        placeholder="Váš email"
        class="input input-sm bg-white w-full"
      />
    </div>

    <textarea
      class="textarea textarea-sm w-full bg-white"
      placeholder="Čo by ste si radi objednali?"></textarea>
    <button type="submit" class="btn btn-primary text-xs w-full uppercase">
      Odoslať
    </button>
  </form>
</footer>
<div class="bg-darker py-2">
  <p class="text-center text-sm text-lighter">
    Copyright © {new Date().getFullYear()} - Všetky práva vyhradené
  </p>
</div>
