<div class="min-h-dvh h-dvh relative z-10 flex flex-col">
  <div
    class="content mt-40 text-darker flex flex-col items-center text-center"
    data-reveal-stagger
    data-stagger="200"
  >
    <h1
      class="mb-5 text-5xl lg:text-7xl font-light uppercase reveal text-darker"
      data-reveal-item
    >
      Keramika s dušou
    </h1>
    <p class="mb-5 font-serif font-light reveal text-darker" data-reveal-item>
      Príjemné miesto, priateľský prístup a keramika, ktorá ťa bude baviť od
      prvého dotyku.
    </p>
  </div>
  <div
    class="w-full grow relative wave-top bg-[url('/img/hero.jpg')] bg-fixed bg-center bg-cover brightness-75"
  >
  </div>
</div>
