<div
  class="hero min-h-screen bg-[url(/img/hero.jpg)] relative z-10 items-end bg-fixed"
>
  <div class="hero-overlay opacity-90"></div>
  <div class="hero-content text-white text-center justify-end items-end">
    <div class="content" data-reveal-stagger data-stagger="200">
      <h1
        class="mb-5 text-5xl lg:text-7xl font-light uppercase text-lighter reveal"
        data-reveal-item
      >
        Keramika s dušou
      </h1>
      <p class="mb-5 font-serif font-light reveal" data-reveal-item>
        Príjemné miesto, priateľský prístup a keramika, ktorá ťa bude baviť od
        prvého dotyku.
      </p>
    </div>
  </div>
</div>
