@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui";
@plugin "daisyui" {
  themes:
    light --default,
    light --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #fab12f;
  --color-primary-content: #402905;
  --color-secondary: teal;
}

@theme {
  --color-lighter: #ffe2b9;
  --color-light: #f89b9b;
  --color-neutral: #6b5428;
  --color-dark: #76552b;
  --color-darker: #402905;
  --color-primary: #fab12f;
  --font-sans: "Lato", sans-serif;
  --font-serif: "PlayfairDisplay", sans-serif;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: PlayfairDisplay;
  font-style: normal;
  font-weight: 300 400 700;
  src: url("/fonts/PlayfairDisplay-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: PlayfairDisplay;
  font-style: italic;
  font-weight: 300 400 700;
  src: url("/fonts/PlayfairDisplay-Italic-VariableFont.ttf") format("truetype");
}

@layer utils {
  .content {
    @apply max-w-7xl mx-auto w-full px-4 sm:px-6 lg:px-8;
  }
}

html {
  color: var(--color-darker);
}

.text {
  animation-duration: 400ms;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

/* Next animation */
.text.next {
  animation-name: slide-up;
}

/* Previous animation */
.text.prev {
  animation-name: slide-down;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@layer utilities {
  .reveal {
    @apply opacity-0 translate-y-6;
  }

  .reveal-visible {
    @apply opacity-100 translate-y-0;
  }

  .reveal-animate {
    @apply transition-all duration-700 ease-out;
  }
  .wave-top {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 23.61%,
      2% 23.15%,
      4% 22.69%,
      6% 22.23%,
      8% 21.8%,
      10% 21.39%,
      12% 21.02%,
      14% 20.7%,
      16% 20.44%,
      18% 20.23%,
      20% 20.09%,
      22% 20.01%,
      24% 20.01%,
      26% 20.07%,
      28% 20.2%,
      30% 20.4%,
      32% 20.66%,
      34% 20.97%,
      36% 21.34%,
      38% 21.74%,
      40% 22.17%,
      42% 22.62%,
      44% 23.08%,
      46% 23.54%,
      48% 23.99%,
      50% 24.43%,
      52% 24.83%,
      54% 25.19%,
      56% 25.5%,
      58% 25.76%,
      60% 25.95%,
      62% 26.08%,
      64% 26.15%,
      66% 26.14%,
      68% 26.07%,
      70% 25.92%,
      72% 25.71%,
      74% 25.44%,
      76% 25.12%,
      78% 24.75%,
      80% 24.35%,
      82% 23.91%,
      84% 23.46%,
      86% 23%,
      88% 22.53%,
      90% 22.09%,
      92% 21.66%,
      94% 21.26%,
      96% 20.91%,
      98% 20.61%,
      100% 20.36%
    );
  }
  @media (max-width: 640px) {
    .wave-top {
      clip-path: polygon(
        100% 100%,
        0% 100%,
        0% 23.61%,
        2% 23.3%,
        4% 23%,
        6% 22.69%,
        8% 22.38%,
        10% 22.09%,
        12% 21.8%,
        14% 21.52%,
        16% 21.26%,
        18% 21.02%,
        20% 20.8%,
        22% 20.61%,
        24% 20.44%,
        26% 20.29%,
        28% 20.17%,
        30% 20.09%,
        32% 20.03%,
        34% 20%,
        36% 20.01%,
        38% 20.04%,
        40% 20.11%,
        42% 20.2%,
        44% 20.33%,
        46% 20.48%,
        48% 20.66%,
        50% 20.86%,
        52% 21.09%,
        54% 21.34%,
        56% 21.6%,
        58% 21.88%,
        60% 22.17%,
        62% 22.47%,
        64% 22.77%,
        66% 23.08%,
        68% 23.39%,
        70% 23.7%,
        72% 23.99%,
        74% 24.29%,
        76% 24.56%,
        78% 24.83%,
        80% 25.07%,
        82% 25.3%,
        84% 25.5%,
        86% 25.68%,
        88% 25.83%,
        90% 25.95%,
        92% 26.05%,
        94% 26.11%,
        96% 26.15%,
        98% 26.15%,
        100% 26.12%
      );
    }
  }
}
