@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui";
@plugin "daisyui" {
  themes:
    light --default,
    light --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #fab12f;
  --color-primary-content: #402905;
  --color-secondary: teal;
}

@theme {
  --color-lighter: #ffe2b9;
  --color-light: #f89b9b;
  --color-neutral: #6b5428;
  --color-dark: #76552b;
  --color-darker: #402905;
  --color-primary: #fab12f;
  --font-sans: "Lato", sans-serif;
  --font-serif: "PlayfairDisplay", sans-serif;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: PlayfairDisplay;
  font-style: normal;
  font-weight: 300 400 700;
  src: url("/fonts/PlayfairDisplay-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: PlayfairDisplay;
  font-style: italic;
  font-weight: 300 400 700;
  src: url("/fonts/PlayfairDisplay-Italic-VariableFont.ttf") format("truetype");
}

@layer utils {
  .content {
    @apply max-w-7xl mx-auto w-full px-4 sm:px-6 lg:px-8;
  }
}

html {
  color: var(--color-darker);
}

.text {
  animation-duration: 400ms;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

/* Next animation */
.text.next {
  animation-name: slide-up;
}

/* Previous animation */
.text.prev {
  animation-name: slide-down;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@layer utilities {
  .reveal {
    @apply opacity-0 translate-y-6;
  }

  .reveal-visible {
    @apply opacity-100 translate-y-0;
  }

  .reveal-animate {
    @apply transition-all duration-700 ease-out;
  }
  .wave-top {
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 23.61%,
      2% 23.15%,
      4% 22.69%,
      6% 22.23%,
      8% 21.8%,
      10% 21.39%,
      12% 21.02%,
      14% 20.7%,
      16% 20.44%,
      18% 20.23%,
      20% 20.09%,
      22% 20.01%,
      24% 20.01%,
      26% 20.07%,
      28% 20.2%,
      30% 20.4%,
      32% 20.66%,
      34% 20.97%,
      36% 21.34%,
      38% 21.74%,
      40% 22.17%,
      42% 22.62%,
      44% 23.08%,
      46% 23.54%,
      48% 23.99%,
      50% 24.43%,
      52% 24.83%,
      54% 25.19%,
      56% 25.5%,
      58% 25.76%,
      60% 25.95%,
      62% 26.08%,
      64% 26.15%,
      66% 26.14%,
      68% 26.07%,
      70% 25.92%,
      72% 25.71%,
      74% 25.44%,
      76% 25.12%,
      78% 24.75%,
      80% 24.35%,
      82% 23.91%,
      84% 23.46%,
      86% 23%,
      88% 22.53%,
      90% 22.09%,
      92% 21.66%,
      94% 21.26%,
      96% 20.91%,
      98% 20.61%,
      100% 20.36%
    );
  }
  .wave-bottom {
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 93.61%,
      2% 93.15%,
      4% 92.69%,
      6% 92.23%,
      8% 91.8%,
      10% 91.39%,
      12% 91.02%,
      14% 90.7%,
      16% 90.44%,
      18% 90.23%,
      20% 90.09%,
      22% 90.01%,
      24% 90.01%,
      26% 90.07%,
      28% 90.2%,
      30% 90.4%,
      32% 90.66%,
      34% 90.97%,
      36% 91.34%,
      38% 91.74%,
      40% 92.17%,
      42% 92.62%,
      44% 93.08%,
      46% 93.54%,
      48% 93.99%,
      50% 94.43%,
      52% 94.83%,
      54% 95.19%,
      56% 95.5%,
      58% 95.76%,
      60% 95.95%,
      62% 96.08%,
      64% 96.15%,
      66% 96.14%,
      68% 96.07%,
      70% 95.92%,
      72% 95.71%,
      74% 95.44%,
      76% 95.12%,
      78% 94.75%,
      80% 94.35%,
      82% 93.91%,
      84% 93.46%,
      86% 93%,
      88% 92.53%,
      90% 92.09%,
      92% 91.66%,
      94% 91.26%,
      96% 90.91%,
      98% 90.61%,
      100% 90.36%
    );
  }

  .wave-right {
    clip-path: polygon(
      100% 0%,
      /* top-right corner */ 100% 100%,
      /* bottom-right corner */ 7.77% 100%,
      /* bottom → start of shallow wave */ 7.66% 98%,
      7.55% 96%,
      7.41% 94%,
      7.25% 92%,
      7.07% 90%,
      6.9% 88%,
      6.71% 86%,
      6.52% 84%,
      6.34% 82%,
      6.17% 80%,
      6.01% 78%,
      5.86% 76%,
      5.73% 74%,
      5.62% 72%,
      5.54% 70%,
      5.48% 68%,
      5.45% 66%,
      5.45% 64%,
      5.48% 62%,
      5.53% 60%,
      5.61% 58%,
      5.71% 56%,
      5.83% 54%,
      5.98% 52%,
      6.14% 50%,
      6.31% 48%,
      6.49% 46%,
      6.68% 44%,
      6.86% 42%,
      7.04% 40%,
      7.21% 38%,
      7.37% 36%,
      7.52% 34%,
      7.64% 32%,
      7.75% 30%,
      7.83% 28%,
      7.88% 26%,
      7.91% 24%,
      7.91% 22%,
      7.87% 20%,
      7.82% 18%,
      7.73% 16%,
      7.63% 14%,
      7.5% 12%,
      7.35% 10%,
      7.19% 8%,
      7.02% 6%,
      6.83% 4%,
      6.65% 2%,
      6.46% 0% /* top → back to right edge */
    );
  }

  @media (max-width: 1024px) {
    .wave-right {
      clip-path: none;
    }
    .wave-top {
      clip-path: polygon(
        100% 100%,
        0% 100%,
        0% 3.61%,
        2% 3.3%,
        4% 3%,
        6% 2.69%,
        8% 2.38%,
        10% 2.09%,
        12% 1.8%,
        14% 1.52%,
        16% 1.26%,
        18% 1.02%,
        20% 0.8%,
        22% 0.61%,
        24% 0.44%,
        26% 0.29%,
        28% 0.17%,
        30% 0.09%,
        32% 0.03%,
        34% 0%,
        36% 0.01%,
        38% 0.04%,
        40% 0.11%,
        42% 0.2%,
        44% 0.33%,
        46% 0.48%,
        48% 0.66%,
        50% 0.86%,
        52% 1.09%,
        54% 1.34%,
        56% 1.6%,
        58% 1.88%,
        60% 2.17%,
        62% 2.47%,
        64% 2.77%,
        66% 3.08%,
        68% 3.39%,
        70% 3.7%,
        72% 3.99%,
        74% 4.29%,
        76% 4.56%,
        78% 4.83%,
        80% 5.07%,
        82% 5.3%,
        84% 5.5%,
        86% 5.68%,
        88% 5.83%,
        90% 5.95%,
        92% 6.05%,
        94% 6.11%,
        96% 6.15%,
        98% 6.15%,
        100% 6.12%
      );
    }
  }
}

@keyframes scroll-dot {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}

.animate-scroll-dot {
  animation: scroll-dot 1.5s infinite;
}
